.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

 body {
    width: 400px;
    height: 450px;
 }

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.contents {
    width: 400px;
    height: 250px;
}

.side {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.main {
    width: 250px;
    height: 250px;
    float: left;
}
.main-left {
    width: 150px;
    height: 150px;
    float: left;
}

.y {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}

.b {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}

.main-right {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: left;
}

.main-bottom {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    float: left;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
    float: left;

}